/* .form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
} */

.custom-step-icon {
  background-color: #820ad1;
  color: #ffffff; /* Altere a cor do ícone conforme necessário */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mat-horizontal-stepper-header .mat-step-header:nth-child(1) .mat-step-icon {
  visibility: hidden;
}

.mat-horizontal-stepper-header .mat-step-header:nth-child(1) .mat-step-icon ~ span {
  visibility: hidden;
}
.invalid-field {
  border: 1px solid red;
}


.custom-button {
  background-color: #820ad1 !important;
  color: #FFFFFF !important;
}








/* Estilos para o formulário */
.container {
  margin-top: 20px;
}

.form-container {
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  margin-bottom: 15px;
}

.invalid-field {
  border: 1px solid red;
}

/* Estilos para a etapa de confirmação */
.confirmation-container {
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para o scroll nas telas menores */
@media (max-height: 400px) {
  .form-container, .confirmation-container {
    max-height: 200px;
    overflow-y: scroll;
  }
}
