.date {
  font-weight: bold;
  color: #555;
  margin-right: 10px;
}

.reason {
  font-style: italic;
  color: #888;
}
/* .chart-card-body {
  height: 10px;
} */

.expanded {
  height: 200px; /* Defina a altura desejada para o body do card */
}
.not_expanded {
  height: 10px; /* Defina a altura desejada para o body do card quando não estiver expandido */
}

/* .custom-card-header {
  background-color: #f4f4f4;
  color: #000000;
  text-align: left;

} */

.custom-card-header {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size:18px;
  font-weight: bold;
}




.no-border-header {
  border-bottom: none;
}

.custom-card-header-2 {
  background-color: #820ad1;
  color: #ffffff;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size:18px;
  font-weight: bold;
  text-align: center;
}
.invalid {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}


.custom-button {
  background-color: #820ad1;
  color: #FFFFFF;
}

.custom-button-listas {
  background-color: #0089e3;
  color: #FFFFFF;
}


.custom-button-consulta {
  background-color: #820ad1;
  color: #FFFFFF;
}

.custom-edit-button {
  background-color: #820ad1;
  color: #FFFFFF;
  border: none;
}

.custom-icon {
  background-color: #0089e3;
  color: #a7a7a7;
}

.reason-sintomas {
  color: #6c757d; /* Cor de texto suave, por exemplo, cinza */
  font-style: italic; /* Estilo de fonte itálico */
}


.timeline-with-icons {
  border-left: 1.5px solid #820ad1;
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;

}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -55px;
  background-color: #E3F4F4;
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-icon-size {
  font-size: 30px; /* Ajuste o tamanho do ícone para o valor desejado */
}

.timeline-container {
  margin-left: 20px; /* Ajuste o valor da margem conforme necessário */
}

.timeline-icon-size.hoverable:hover {
  transform: scale(1.1); /* Aumenta o ícone em 10% quando o mouse estiver em cima */
  cursor: pointer; /* Altera o cursor do mouse para o estilo de clique */
}

.timeline-title h3 {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}
