<div class="row">
  <!-- Main Content -->
  <div class="col-md-8 d-flex flex-column">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <h1>Anamnese</h1>

      <button class="btn btn-primary custom-button custom-button" (click)="voltarPraatendimento(cliente)">
        <i class="fas fa-arrow-left"></i> Voltar
      </button>

    </div>

    <br>
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mt-4">
          <h3>Formulário Anamnese</h3>
          <button class="btn btn-primary custom-button" type="button">
            <i class="fas fa-pencil-alt"></i> Editar
          </button>
        </div>

        <br>
        <!-- Adicione a div com a barra de rolagem para o formulário -->

        <!-- Formulário de Motivo da Consulta -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-question"></i> Motivo da Consulta
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary custom-button btn-sm m-2" *ngFor="let motivo of motivos"
                      (click)="removerMotivo(motivo)">
                      <i class="fas fa-times me-1"></i> {{ motivo }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="motivosSelecionada"
                    placeholder="Digite o motivo da consulta" (keyup.enter)="adicionarMotivo()">
                  <div class="input-group-append">

                    <button class="btn btn-primary w-100 custom-button custom-button" type="button"
                      (click)="adicionarMotivo()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Sintomas -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-heartbeat"></i> Sintomas
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary custom-button btn-sm m-2" *ngFor="let sintoma of sintomasAdicionados"
                      (click)="removerSintoma(sintoma)">
                      <i class="fas fa-times me-1"></i> {{ sintoma }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="sintomaSelecionado"
                    [formControl]="sintomaControl" placeholder="Digite os sintoma" (keyup.enter)="adicionarSintoma()"
                    [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let sugestao of filteredSintomas | async" [value]="sugestao">
                      {{ sugestao }}
                    </mat-option>
                  </mat-autocomplete>


                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarSintoma()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Cirurgias -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-procedures"></i> Cirurgias Anteriores
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2"
                      *ngFor="let cirurgia of cirurgiasAnteriores" (click)="removerCirurgia(cirurgia)">
                      <i class="fas fa-times me-1"></i> {{ cirurgia }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="cirurgiaSelecionada"
                    placeholder="Digite as cirurgias" (keyup.enter)="adicionarCirurgia()">
                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarCirurgia()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Doenças Prévias -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-notes-medical"></i> Doenças Prévias
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2" *ngFor="let doenca of doencasPrevias"
                      (click)="removerDoencaPrevia(doenca)">
                      <i class="fas fa-times me-1"></i> {{ doenca }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">

                  <input type="text" class="form-control" [(ngModel)]="doencaPreviaSelecionada"
                  [formControl]="doencasControl" placeholder="Digite as doenças"
                  (keyup.enter)="adicionarDoencaPrevia()" [matAutocomplete]="doencasAuto">
                <mat-autocomplete #doencasAuto="matAutocomplete">
                  <mat-option *ngFor="let sugestao of filteredDoencas | async" [value]="sugestao">
                    {{ sugestao }}
                  </mat-option>
                </mat-autocomplete>
                


                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarDoencaPrevia()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Medicamentos em Uso -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-prescription-bottle"></i> Medicamentos em Uso
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2"
                      *ngFor="let medicamento of medicamentosEmUso" (click)="removerMedicamentoEmUso(medicamento)">
                      <i class="fas fa-times me-1"></i> {{ medicamento }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="medicamentoSelecionado"
                    placeholder="Digite os medicamentos" (keyup.enter)="adicionarMedicamentoEmUso()">
                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarMedicamentoEmUso()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Comportamento -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-paw"></i> Comportamento
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2"
                      *ngFor="let comportamento of comportamentos" (click)="removerComportamento(comportamento)">
                      <i class="fas fa-times me-1"></i> {{ comportamento }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="comportamentoSelecionado"
                    placeholder="Digite os comportamentos" (keyup.enter)="adicionarComportamento()">
                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarComportamento()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Formulário de Reprodução -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-venus-mars"></i> Reprodução
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2" *ngFor="let reproducao of reproducao"
                      (click)="removerReproducao(reproducao)">
                      <i class="fas fa-times me-1"></i> {{ reproducao }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="reproducaoSelecionada"
                    placeholder="Digite os detalhes da reprodução" (keyup.enter)="adicionarReproducao()">
                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarReproducao()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>







        <!-- Formulário de Viagem -->
        <div class="card mb-4">
          <div class="card-header custom-card-header font-weight-bold">
            <i class="fas fa-suitcase-rolling"></i> Viagem
          </div>
          <div class="card-body mb-4">
            <div class="row">
              <div class="col-md-12">
                <div class="mt-3">
                  <div class="d-flex flex-wrap">
                    <button class="btn btn-primary   custom-button btn-sm m-2" *ngFor="let viagem of viagens"
                      (click)="removerViagem(viagem)">
                      <i class="fas fa-times me-1"></i> {{ viagem }}
                    </button>
                  </div>
                </div>
                <div class="input-group mt-3">
                  <input type="text" class="form-control" [(ngModel)]="viagemSelecionada"
                    placeholder="Digite os detalhes da viagem" (keyup.enter)="adicionarViagem()">
                  <div class="input-group-append">
                    <button class="btn btn-primary   custom-button" type="button" (click)="adicionarViagem()">
                      <i class="fas fa-plus"></i> Adicionar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary custom-button" type="button" (click)="cadastrarAnamnese()">
            Salvar
          </button>
        </div>
      </div>
    </div>

  </div>

  <!-- Coluna Fixa à Direita -->
  <div class="col-md-4" style="position: fixed; right: 0; padding-left: 75px;">
    <div class="card h-100">
      <div class="card-body text-center">

        <div class="card mb-3">
          <div class="card-header custom-card-header-2">
            Informações do Pet
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="text-left">
                  <p><strong>Tutor:</strong> {{ cliente.nome }}</p>
                  <p><strong>Pet:</strong> {{ cliente.pet.nome }}</p>
                  <p><strong>Sexo:</strong> {{ cliente.pet.sexo }}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-left">
                  <p><strong>Espécie:</strong> {{ cliente.pet.especie }}</p>
                  <p><strong>Raça:</strong> {{ cliente.pet.raca }}</p>
                  <p><strong>Idade:</strong> {{ cliente.pet.idade }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header custom-card-header-2">
            Histórico
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngFor="let anamnese of anamneses" class="list-group-item">
                <span class="date">{{ anamnese.dataCriacao }}</span>
                <span class="reason">Motivo: '{{ anamnese.motivoDaConsulta }}'</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="card mb-3" [ngClass]="{'chart-card': chartCardActivated}">
          <div class="card-header custom-card-header-2">
            Suporte ao diagnóstico
          </div>
          <div class="card-body d-flex justify-content-center align-items-center" [hidden]="!chartCardActivated"
            [ngClass]="{'expanded': chartCardActivated, 'not_expanded': !chartCardActivated}">
            <div class="chart-container" [ngClass]="{'h-auto': chartCardActivated}">
              <canvas id="myChart"></canvas>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-end mt-4">
              <button class="btn btn-primary w-100 custom-button  custom-button" type="button"
                (click)="ativarSuporteDiagnostico()">
                Consultar
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>