.date {
  font-weight: bold;
  color: #555;
  margin-right: 10px;
}

.reason {
  font-style: italic;
  color: #888;
}
/* .chart-card-body {
  height: 10px;
} */

.expanded {
  height: 200px; /* Defina a altura desejada para o body do card */
}
.not_expanded {
  height: 10px; /* Defina a altura desejada para o body do card quando não estiver expandido */
}

.custom-card-header {
  background-color: #f4f4f4;
  color: #000000;
  text-align: left;

}

.custom-card-header-2 {
  background-color: #820ad1;
  color: #FFFFFF;
  text-align: center;
}


.custom-button {
  background-color: #820ad1;
  color: #FFFFFF;
}


.custom-button-consulta {
  background-color: #bd0fea;
  color: #FFFFFF;
}

.custom-delete-button {
  background-color: #FF6666;
  color: #FFFFFF;
}

.custom-edit-button {
  background-color: #82B7DC;
  color: #FFFFFF;
}

.custom-icon {
  background-color: #82B7DC;
  color: #a7a7a7;
}

.reason-sintomas {
  color: #6c757d; /* Cor de texto suave, por exemplo, cinza */
  font-style: italic; /* Estilo de fonte itálico */
}


.timeline-with-icons {
  border-left: 1px solid #bd0fea;
  position: relative;
  list-style: none;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;

}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -60px;
  background-color: #f4f4f4;
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-icon-size {
  font-size: 30px; /* Ajuste o tamanho do ícone para o valor desejado */
}

.timeline-container {
  margin-left: 20px; /* Ajuste o valor da margem conforme necessário */
}
