<mat-tab-group>
  <mat-tab label="Anamnese">
    <div class="card-body">
      <div class="card mb-3 h-100">
        <div class="card-header custom-card-header no-border-header font-weight-bold">
          Anamnese do dia: 16/06/2023
        </div>
        <div class="card-body d-flex flex-column">
          <div class="row flex-grow-1">
            <div class="col-md-6">
              <div class="anamnese-info h-100">
                <div class="anamnese-column">
                  <p><strong>Motivos:</strong> {{ data.motivos }}</p>
                  <p><strong>Sintomas:</strong> {{ data.sintomas }}</p>
                  <p><strong>Cirurgias anteriores:</strong> {{ data.cirurgias }}</p>
                  <p><strong>Doenças prévias:</strong> {{ data.doencas }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="anamnese-info h-100">
                <div class="anamnese-column">
                  <p><strong>Medicamentos em uso:</strong> {{ data.medicamentos }}</p>
                  <p><strong>Comportamentos:</strong> {{ data.comportamentos }}</p>
                  <p><strong>Reprodução:</strong> {{ data.reproducao }}</p>
                  <p><strong>Viagens:</strong> {{ data.viagens }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Possíveis diagnósticos">
    <div class="card-body">
      <div class="card mb-3">
        <div class="card-header custom-card-header font-weight-bold no-border-header">
          Possíveis diagnósticos
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
                <canvas baseChart class="chart"
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
                </canvas>
            </div>
            <div class="col-md-6">
              <h3>Texto</h3>
              <!-- <canvas baseChart class="barChart"
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType"
                (chartHover)="barChartHovered($event)"
                (chartClick)="barChartClicked($event)">
              </canvas> -->
                    </div>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
