.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.custom-button {
  background-color: #820ad1;
  color: #FFFFFF;
}
.chart-container {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


  .custom-save-button {
    background-color: #3466AA;
    color: #FFFFFF;
  }

  .custom-card-header {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    font-family: "Arial", sans-serif;
    font-size:22px;
    font-weight: bold;
  }

  .no-border-header {
    border-bottom: none;
  }
