<div class="d-flex justify-content-between align-items-center mt-4">
  <h2>Atendimento</h2>
  <button class="btn custom-button" (click)="voltarParaClientes()">
    <i class="fas fa-arrow-left"></i> Voltar
  </button>
</div>
<br>

<div class="row">
  <div class="col-md-8 d-flex flex-column">

    <div class="card mb-4" *ngIf="cliente">
      <div class="card-header custom-card-header no-border-header">
        <i class="fas fa-paw me-1"></i>
        Informações do Pet
      </div>
      <div class="card-body">
        <div *ngIf="carregando">
          <mat-spinner></mat-spinner>
          Carregando...
        </div>
        <ng-container *ngIf="!carregando && cliente">
          <div class="row">
            <div class="col-md-2">
              <div class="profile-picture">
                <img src="assets/images/laikapet.png" alt="Foto do cachorro">
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-4">
                  <div class="profile-details">
                    <p><strong>Tutor:</strong> {{ cliente.nome }}</p>
                    <p><strong>Pet:</strong> {{ cliente.pet.nome }}</p>
                    <p><strong>Sexo:</strong> {{ cliente.pet.sexo }}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="profile-details">
                    <p><strong>Espécie:</strong> {{ cliente.pet.especie }}</p>
                    <p><strong>Raça:</strong> {{ cliente.pet.raca }}</p>
                    <p><strong>Idade:</strong> {{ cliente.pet.idade }}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="profile-details">
                    <p><strong>Consultas:</strong> 0</p>
                    <p><strong>Observações:</strong> Nenhuma cadastrada</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>


      </div>



    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="card mb-4 h-100">
          <div class="card-header custom-card-header-3 no-border-header"><i class="fas fa-chart-area mr-1"></i>Evolução do peso</div>
          <div class="card-body">
            <canvas baseChart class="chart"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header custom-card-header no-border-header">
        <i class="fas fa-clipboard-list me-1"></i>
        Procedimentos
      </div>
      <div class="card-body">
        <div class="row" *ngIf="cliente">

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
              [routerLink]="['/cliente/anamnese', cliente.id]">
              <div class="card-body text-center">
                <i class="fas fa-clipboard-check mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Anamnese</h5>
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
              >
              <div class="card-body text-center">
                <i class="fas fa-hospital mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Internação</h5>
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
             >
              <div class="card-body text-center">
                <i class="fas fa-file-medical mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Exames</h5>
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
              >
              <div class="card-body text-center">
                <i class="fas fa-syringe mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Vacina</h5>
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
              >
              <div class="card-body text-center">
                <i class="fas fa-notes-medical mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Diagnóstico</h5>
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4">
            <a
              class="card-as-button h-100 d-flex align-items-center justify-content-center"
             >
              <div class="card-body text-center">
                <i class="fas fa-file-alt mb-3 fa-2x" style="color: #820ad1;"></i>
                <h5 class="mb-0">Documentos</h5>
              </div>
            </a>
          </div>

        </div>
      </div>


    </div>

    <div class="h-100" style="margin-top: 20px;">
      <h5>Observações</h5>
      <textarea class="form-control" rows="10"></textarea>
    </div>

  </div>


</div>
