<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home" [ngClass]="{'active': activeScreen === '/home'}">
          <div class="sb-nav-link-icon">
            <i class="fas fa-home"></i>
          </div>
          Home
        </a>
        <a class="nav-link" routerLink="/clientes-lista" [ngClass]="{'active': activeScreen === '/clientes-lista'}">
          <div class="sb-nav-link-icon">
            <i class="fas fa-users"></i>
          </div>
          Clientes
        </a>
      </div>

    </div>
    
  </nav>
</div>
