<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #820ad1;">
  <a class="navbar-brand" routerLink="/home">
    <div class="row">
      <div class="logo-container">
        <img class="logo-img" src="assets/images/logo-removebg.png" alt="Logo LaikaPet">
        <div class="logo-text">
          LaikaPet
        </div>
      </div>
    </div>
  </a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>
</nav>
