.custom-table tbody tr:nth-child(odd) {
  background-color: #E3F4F4;
}

.custom-card-header-3 {
  background-color: #ffffff;
  color: #000000;

  font-family: "Arial", sans-serif;
  font-size:18px;
  font-weight: bold;
}

.no-border-header {
  border-bottom: none;
}
