.custom-card-header {
  background-color: #0099CC;
  color: #FFFFFF;
  text-align: left;
}

.custom-button {
  background-color: #66CCCC;
  color: #FFFFFF;
}

.custom-delete-button {
  background-color: #FF6666;
  color: #FFFFFF;
}

.custom-edit-button {
  background-color: #66CCCC;
  color: #FFFFFF;
}
